<header>
	<nav>
		<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, method: "delete" %>
		<% else %>
			<li><%= link_to "Sign in", signin_path %>
		<% end %>
	</nav>
</header>

<h4>Administration Page</h4>

<%= link_to "Questions", questions_path %><br>

<%= link_to "Customers", customers_path %>